:root {
    --color-del-borde: #B1C7DF;
}

* {
    font-family: 'Roboto', sans-serif;
}

#marca {
    text-align: center;
    color: #004DA6;
    font-size: 4rem;
}

.titulo {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

.bajada {
    font-size: 1.5rem;
    font-weight: 300;
    color: #555;
}

.detalles {
    font-size: 0.9rem;
    color: #999;
}

.cuerpo-noticia {
    font-size: 1.1rem;
    line-height: 1.6rem;
    max-width: 70vw;
}

.cuerpo-noticia p {
    display: inline-block;
    margin-bottom: 1.5rem;
}

.imagen-contextual-contenedor {
    display: block;
    width: 70vw;
    margin: 20px 0;
}

.imagen-contextual-contenedor img {
    display: block;
    width:69.8vw;
    height: auto;
    border: solid 1px var(--color-del-borde);
}

.tarjeta {
    padding: 5px;
    border: solid 3px var(--color-del-borde);
    border-bottom: solid 5px var(--color-del-borde);

    border-top: none;
    text-align: left;
}

.texto-alternativo {
    font-size: 0.9rem;
    padding-left: 1vw;
    margin: 5px 0;
}

.fuente {
    color: #112167;
    text-align: right;
    font-size: 0.8rem;
    margin-top: 2px;
}

.noticias-relacionadas {
    min-width: 500px;
    max-height: 400px;
    background-color: red;
    margin: 10px 0;
}
